local opts = { noremap = true, silent = true }

local term_opts = { silent = true }

-- Shorten function name
local keymap = vim.api.nvim_set_keymap

--Remap space as leader key
keymap("", "<Space>", "<Nop>", opts)
vim.g.mapleader = " "
vim.g.maplocalleader = " "

keymap("n", "<leader>d", '"=strftime("%Y-%m-%d")<CR>p', opts)

-- Modes
--   normal_mode = "n",
--   insert_mode = "i",
--   visual_mode = "v",
--   visual_block_mode = "x",
--   term_mode = "t",
--   command_mode = "c",

{{- if eq .chezmoi.os "darwin" }}

-- vimwiki
keymap("n", "<leader>wk", ":VimwikiDiaryPrevDay<CR>", opts)
keymap("n", "<leader>wj", ":VimwikiDiaryNextDay<CR>", opts)

-- links
keymap("n", "<leader>lz", ":e ~/notes/zettelkasten.wiki<CR>", opts)

-- tech stuff
keymap("n", "<leader>ldo", ":e ~/notes/210313-1347.wiki<CR>", opts)

-- writing 
keymap("n", "<leader>lwr", ":e ~/notes/tzvs.wiki<CR>", opts)

-- week notes
keymap("n", "<leader>lwe", ":e ~/notes/lks9.wiki<CR>", opts)

-- week checklist
keymap("n", "<leader>lwc", ":e ~/notes/w74x.wiki<CR>", opts)

-- day checklist
keymap("n", "<leader>ldc", ":e ~/notes/7i9q.wiki<CR>", opts)

-- books

-- kids
keymap("n", "<leader>lki", ":e ~/notes/di63.wiki<CR>", opts)

-- habits
keymap("n", "<leader>lha", ":e ~/notes/a84s.wiki<CR>", opts)

-- 1-2 pomodoro tasks
keymap("n", "<leader>l1p", ":e ~/notes/ppqo.wiki<CR>", opts)

-- block tasks

-- reading list
keymap("n", "<leader>lar", ":e ~/notes/rkh2.wiki<CR>", opts)

-- projects
keymap("n", "<leader>lpr", ":e ~/notes/bul8.wiki<CR>", opts)

-- someday
keymap("n", "<leader>lso", ":e ~/notes/30x0.wiki<CR>", opts)

-- learning
keymap("n", "<leader>lle", ":e ~/notes/4syy.wiki<CR>", opts)

{{- end }}


-- Normal --

-- find
keymap("n", "<leader>lf", ":Telescope find_files<CR>", opts)
keymap("n", "<leader>lb", ":Telescope buffers<CR>", opts)
keymap("n", "<leader>lr", ":Telescope oldfiles<CR>", opts)

-- Better window navigation
keymap("n", "<C-h>", "<C-w>h", opts)
keymap("n", "<C-j>", "<C-w>j", opts)
keymap("n", "<C-k>", "<C-w>k", opts)
keymap("n", "<C-l>", "<C-w>l", opts)

keymap("n", "<leader>e", ":Lex 30<cr>", opts)
keymap("n", "<leader>vs", ":vsplit<CR>", opts)
keymap("n", "<leader>hs", ":split<CR>", opts)

-- Resize with arrows
keymap("n", "<C-Up>", ":resize -2<CR>", opts)
keymap("n", "<C-Down>", ":resize +2<CR>", opts)
keymap("n", "<C-Left>", ":vertical resize -2<CR>", opts)
keymap("n", "<C-Right>", ":vertical resize +2<CR>", opts)

-- Navigate buffers
-- keymap("n", "<S-l>", ":bnext<CR>", opts)
-- keymap("n", "<S-h>", ":bprevious<CR>", opts)

keymap("n", ":", "q:i", opts)
keymap("n", "/", "q/i", opts)

-- Visual --
-- Stay in indent mode
-- keymap("v", "<", "<gv", opts)
-- keymap("v", ">", ">gv", opts)

-- j and k escape in insert mode
local ok, result = pcall(
  vim.cmd,
  [[call arpeggio#map('i', '', 0, 'jk', '<Esc>')]])

keymap("n", "<leader>s", "<Plug>SlimeMotionSend", {silent = true})
keymap("n", "<leader>ss", "<Plug>SlimeLineSend", {silent = true})
keymap("x", "<leader>s", "<Plug>SlimeRegionSend", {silent = true})

keymap("n", "<leader>gg", ":LazyGit<CR>", opts)

